.rotate{
    display: flex;
    justify-content: center;
}

.dimension{
    height: 100px;
    width: 100px;
}

.red{
    background-color: red;
    transform-origin: top left;
    transition: 0.70s;
}

.rotate:hover .red{
    transition: 0.70s;
    transform: rotateZ(90deg); 
}

.yellow{
    background-color: yellow;
    transform-origin: top right;
    transition: 0.70s;
}

.rotate:hover .yellow{
    transition: 0.70s;
    transform: rotateZ(-90deg); 
}

.blue{
    background-color: blue;
    transform-origin: bottom left;
    transition: 0.70s;
}

.rotate:hover .blue{
    transition: 0.70s;
    transform: rotateZ(-90deg); 
}

.green{
    background-color: green;
    transform-origin: bottom right;
    transition: 0.70s;
}

.rotate:hover .green{
    transition: 0.70s;
    transform: rotateZ(90deg); 
}

.hi{
    position: absolute;
    z-index: -1 ;
    top: 70px;
}